@import url("http://fonts.googleapis.com/css?family=poppins;200,300,400,500,600,700,800,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center; /*center*/
	min-height: 100vh;
	background: #000000;
}
#hour {
	color: #982525;
}
#name {
	color: #3119e2;
	position: relative;
	left: 311px;
	top: -202px;
	font-size: 8em;
	font-family: fantasy;
}

#time {
	display: flex;
	gap: 40px; /*talk under each other*/
	color: rgb(58, 78, 231);
}
#time .circle {
	position: relative;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 170px;
}
#time div {
	position: absolute;
	text-align: center;
	font-weight: 500;
	font-size: 1.5em;
}
#time div span {
	position: absolute;
	transform: translateX(-50%) translateY(0px);
	font-size: 0.45em;
	font-weight: 300;
	letter-spacing: 0, 1em;
	text-transform: uppercase;
}
#time .ap {
	position: relative;
	font: 1em;
	transform: translateX(-20px);
}
#time .circle svg {
	position: relative;
	width: 150px;
	height: 150px;
	transform: rotate(270deg);
}
#time .circle svg circle {
	width: 100%;
	height: 100%;
	fill: transparent;
	stroke: #191919;
	stroke-width: 4;
	transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2) {
	stroke: var(--clr);
	stroke-dasharray: 440;
}

#time .ap {
	position: relative;
	font-size: 1em;
	transform: translateX(-20px);
}
.dots {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.dots::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: var(--clr);
	border-radius: 50%;
	top: -3px;
	box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
